<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<form th:action="@{/create-task}" method="post" th:object="${task}">
    <h1>Create New Task</h1>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <input type="hidden" th:field="*{id}"/>
    <div>
    <div class="form-group ">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{title}">
    </div>


    <div class="form-group col-md-12" >
        <label for="exampleFormControlSelect2">Status</label>
        <select th:field="*{status}" multiple class="form-control" id="exampleFormControlSelect2">
            <option th:each="s : ${status}" th:value="${s.id}" th:text="${s.status}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" aria-describedby="emailHelp" th:field="*{description}">
    </div>

    <div class="form-group">
        <label for="targetDate">Target Date</label>
        <input type="date" class="form-control" id="targetDate" aria-describedby="emailHelp" th:field="*{targetDate}">
    </div>







<!--    <table class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Title :</th>-->
<!--            <td><input type="text" th:field="*{title}"/></td>-->
<!--            <td th:errors="*{title}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Status :</th>-->
<!--            <td>-->
<!--                <select th:field="*{status}">-->
<!--                    <option th:each="s : ${status}" th:value="${s.id}" th:text="${s.status}"></option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Description :</th>-->
<!--            <td><input type="text" th:field="*{description}"/></td>-->
<!--            <td th:errors="*{description}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Target Date :</th>-->
<!--            <td><input type="date" th:field="*{targetDate}"/></td>-->
<!--        </tr>-->

        <tr>
            <td><button type="submit">Submit</button></td>
            <td><a th:href="@{/home}">Cancel</a></td>
        </tr>



</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>