<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<a th:href="@{/home}">Back</a>
<h1>Detail</h1>

<form th:action="@{/view-task/{id}}" method="get" th:object="${task}">

<table border="1">
    <tr>

                <th>Description</th>
        <th>Target Date</th>
        <th>Status</th>

    </tr>
    <th:block th:object="${task}">
        <tr>
<!--            <td th:text="${t.title}"></td>-->
            <td th:text="${task.description}"></td>
            <td th:text="${task.targetDate}"></td>
            <td th:text="${task.status.status}"></td>

        </tr>
    </th:block>

</table>
</form>
</body>
</html>